body {
  margin: 0;
  background-image: url('https://cdn1.vectorstock.com/i/1000x1000/37/05/jewish-holiday-hanukkah-icons-set-vector-18543705.jpg');
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#wrapper {
  clear: both;
}

.start-page {
  text-align: center;
}

.hidden {
  display: none;
}

.navbar {
  display: absolute;
  width: 100%;
  height: 60px;
  font-family: 'Bebas Neue', cursive;
  background-color: aliceblue;
  border-bottom: 2px solid black;
}
.js-score, .js-q-number, .quiz-description {
  font-size: x-large;
}

.main {
  border: 2px solid black;
  width: 500px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background-color: aliceblue;
  font-family: 'Bebas Neue', cursive;
  padding-top: 25px;
}

fieldset {
  border: none;
}
.score {
  float: right;
  position: relative;
  right: 40px;
}

button {
  background-color: black;
  color: aliceblue;
  font-family: 'Bebas Neue', cursive;  
}
.current-q {
  position: absolute;
  display: inline;
  left: 20px;
}


.logo, .quiz-logo {
  height: 50px;
  border-radius: 50%;
  position: absolute; 
  left: 49%;
}

.start {
  height: 50px;
  border: 5px solid black;
}
.background-img {
  display: flex;
  justify-content: center;
}

.quiz-description {
 text-align: center;
}

.question {
  font-weight: bold;
  font-size: large;
}
.answer-choice {
  text-align: right;
}
.quiz-q {
  padding: 30px;
  text-align: center;
}

.answer-choice {
  text-align: center;
}

.question-result {
  text-align: center;
}
.next-q {
  border: 2px solid black;
  padding: 10px;
}


.end-results {
  text-align: center;
}

.img-row {
  width: 100%;
  border:2px solid black;
}

.restart {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.elmo-img {
  height: 250px;
}

.end-reaction {
  height: 170px;
}